/* CSS Document */

body {background-color:#000000; color: #710C0C; font:Georgia, 'Times New Roman', Times, serif; text-align:center;}
p a {color: #bb0c0c; text-decoration:none;}
p a:hover {color:#FFFF99; text-decoration:underline;}
p {font-size:12px;}